
<form>
  <!--Titulo do Formulário-->
  <h1>Cadastro de Cliente</h1>
  <!-- Inicio Campo Nome-->
  <label for="inputname">Nome</label>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Primeiro Nome">
    </div>
    <label for="inputname"></label>
    <div class="col">
      <input type="text" class="form-control" placeholder="Segundo Nome">
    </div>
  </div>
    <!--Fim Campo Nome-->
    <!-- Inicio Campo Email-->
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
  </div>
  <!--Fim Campo Email-->
  <!-- Inicio Campo Celular-->
  <div>
        <label>Celular</label>
        <input type="text" class="form-control" placeholder="Celular" id="celular" name="celular" ><br>
  </div>
  <!--Fim Campo Celular-->
  <!--Inicio Campo Data de Nascimento-->
  <div class="form-group">
    <label for="dataNascimento">Data de nascimento</label>
    <input type="date" class="form-control" name="dataNascimento" id="dataNascimento">
  </div>
  <!--Fim Campo Data de Nascimento-->
  <!--Inicio Campo Endereço-->
  <div class="form-group">
    <label for="inputAddress">Endereço</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Rua, Número, Bairro ">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Cidade</label>
      <input type="text" class="form-control" id="inputCity" placeholder="Digite sua cidade">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Estado</label>
      <select id="inputState" class="form-control">
        <option selected>Escolha o Estado</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
        <option value="EX">Estrangeiro</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">CEP</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
   <!-- Inicio Campo Estado Civil-->
   <label for="inputname">Estado Civil</label>
   <div class="form-check">
     <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
     <label class="form-check-label" for="exampleRadios1">
       Casado(a)
     </label>
   </div>
   <div class="form-check">
     <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
     <label class="form-check-label" for="exampleRadios2">
       Solteiro(a)
     </label>
   </div>
   <br>
   <!--Fim Campo Estado Civil-->
  <!--Fim Campo Endereço-->
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Estou de Acordo com a <a href="#"> Política de dados</a>  da Empresa
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<!--
<p>Nome Completo: OK</p>
<p>CPF</p>
<p>Data de Nascimento: OK</p>
<p>E-mail: OK</p>
<p>Profissão:</p>
<p>Nacionalidade:</p>
<p>Endereço: OK</p>
<p>Número:OK</p>
<p>Cidade:OK</p>
<p>Bairro:OK</p>
<p>CEP: OK</p>
<p>Telefone: OK</p>
<p>Sexo: OK</p> -->